# Data and Large Files
data/   
output/*
!output/models/
output/models/*
!output/models/pneumonia_model.keras

# Python dependencies and environments
.venv/
__pycache__/
webapp/__pycache__/

# Application uploads and heatmaps
webapp/uploads/
webapp/static/heatmaps/
